.reveal .button.button-login {
	-webkit-transition-property: all;
	transition-property: all;
	-webkit-transition-duration: .3s;
	transition-duration: .3s;
	border-radius: 15px;
	border: 3px solid #7b8386;
	line-height: 34px;
	height: 34px;
	color: #7b8386;
	padding: 0 20px;
}

.reveal .button.button-login: {
	color: #50b1ff;
}

p.output {
	font-family: Terminal, monospace;
	font-weight: bold;
	font-size: 28px;
}

.fixedOutput {
	position: fixed;
	width: 30%;
	top: 20px;
	right: 20px;
	opacity: 0;
	z-index: 10;
	-webkit-transition-property: all;
	transition-property: all;
	-webkit-transition-duration: 1.5s;
	transition-duration: 1.5s;
}

.fixedOutput.active {
	opacity: 1;
}

.reveal pre code {
	-moz-tab-size: 4;
    -o-tab-size:   4;
    tab-size:      4;
    letter-spacing: normal;
}

.reveal div.slides {
	zoom: 1;
}

#map-canvas { 
	height: 500px; 
	width: 1000px; 	
	zoom: 1;
}

#map-canvas img {
	max-width: none;
	max-height: none;
	box-shadow: none;
}

.reveal img.logo {
	border: none;
	box-shadow: none;
	background: none;
}

